/* --Clayton Divelbiss  - WebDev Walkthrough - Section 001 - 12/1/25 */
body {font-family: Arial, Helvetica, sans-serif;
              font-size: 15px;
              color: #555;
              background-color: #555;
        }
a {font-size: 20px;
text-decoration: none;}

a:hover {
    text-decoration: underline;
    font-weight: bold;
    font-size: 18px;
}

a:visited {
    color: blue;
}

li {
    font-weight: normal;
}


.BoldedResumeHeadings {
    font-weight: bold;
    font-style: normal;
}

.Justify {
    text-align: justify;
}



.Homebg {
    background-image: url('../Images/CivilEngineering.jpg');
}

.box1 {
    border-width: 1px;
    border-style: solid;
    border-color: black;
}

.box2 {
    padding: 5px;
}

.box3 {
    margin: 25px;
}